*{
    font-family: 'Manrope';
    margin: 0;
    padding:0;
}
body{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.section-padding{
    padding: 70px 0;
}
#header {
    background-color: #343a40; 
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 1rem;
}

.navbar {
    background-color: #292A2E; 
    color: white; 
}
.btn-inicio {
    background-color:#292A2E; 
    color: white;
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    transition-duration: 0.4s;
    cursor: pointer; 
    border-radius: 12px; 

}

.btn-inicio:hover {
    background-color: #111725; 
    color: white; 
}


.nav-link {
    color: white; 
}

.nav-link:hover {
    color: #ddd; 
}

@media (max-width: 991.98px) {
    .nav__toggle {
        display: block;
    }

    .navbar-collapse {
        justify-content: flex-start;
    }
}
.navbar-container{
    background-color: #111725;
    color: #FFF;
}
.btn-navbar{
    background: #292A2E;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}
.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.card:hover{
    transform: translateY(-10px);
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
    margin-top: 200px;
}
.carousel-caption h5{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: #FFF;
}
.carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30,82, 0.327);
    z-index: 1;
}

.portafolio{
    box-shadow: #4F6F52;

}
.about-img img{
    border-radius: 5px;
}
footer{
    background-color: #111725;
}
.card-body{
    background: #888888;
    border-radius: 5px;
}
.btn-card{
    background-color: #292A2E;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFF;
    width: 80px;
}
.btn-footer{
    background: #292A2E;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}
@media(max-width : 767px){
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px ;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px ;
    }
    .section-padding{
        padding: 50px 0;
    }
}